body {
    margin: 0;
    color: #333;
    line-height: 1.5;
    padding-left: 12px; padding-right: 12px;
    overflow: hidden;
}
.quiz {
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
}
.quiz-h {
  font-size: 100%;
}
.quiz-p {
  color: gray;
}

pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre-wrap;
}
textarea {
    width: 100%;
    min-height: 6em;
    margin-bottom: 16px;
    box-sizing: border-box;
    padding: 8px;
}
pre textarea {
    width: calc(100% - 2ch);
    margin: -.75em 0 0 2ch;
    font-family: inherit;
}

textarea.error {
    outline: 3px solid red;
}

h4 {
    margin-bottom: -.5em;
}